@model IEnumerable<eStore.Web.UI.Areas.Social.ViewModels.TopicCategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Forum</h2>

<div class="row">
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Themes</th>
                    <th>Posts</th>
                    <th>Last Post</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in Model)
                 {
                    <text>
                        <tr>
                            <td>@Html.ActionLink(item.Title, "Topics", new {area = "social", id = item.TopicCategoryId})</td>
                            <td>@item.TopicCount</td>
                            <td>@item.PostCount</td>
                            <td>@Html.LastPost(item.LastPostDate, item.LastPostAuthor, Html.ActionLink("%%", "AuthorProfile"))</td>
                        </tr>
                    </text>
                 }
            </tbody>
        </table>
    </div>   
</div>