/packages
/eStore.Web.Infrastructure/bin
/eStore.Web.Infrastructure/obj
/eStore.Tests/obj
/eStore.Tests/bin
/eStore.Domain/bin
/eStore.Domain/obj
/eStore.Web.UI/bin
/eStore.Web.UI/obj
/eStore.Web.UI/*.user
/eStore.Interfaces/bin
/eStore.Interfaces/obj
/eStore.Core/bin
/eStore.Core/obj
/eStore.DataAccess/bin
/eStore.DataAccess/obj
/*.suo
/eStore.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/eStore.Domain/obj/Debug/eStore.Domain.csproj.FileListAbsolute.txt
/eStore.Web.UI/App_Data/uploads
