#footer {
    margin-top: 5pt;
    color: #888;
}

/*@media (min-width: 980px) {
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 30px;
    }
}*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.overview-hdr {
    color: #2A8CBA;
    font-size: 14px;
}

.hr-top {
    background: url("http://images.booksamillion.com/images/layout/sep-bg.png") repeat scroll 0 0 transparent;
    border: medium none;
    height: 10px;
}

.centred {
    display: block;
    margin-left: auto;
    margin-right: auto  
}

.det-price {
    text-align: center;
    padding: 10px;
}

.bi-author {
    text-align: center;
    padding: 10px;
    color: #0c8342
}

.login-a {
    padding:0;
}

/*  from SmartStore.NET */
.block {
    margin: 12px 0 24px 0;
}

.block.block-bordered {
    background: #fff;
    border: 1px solid #d6e0e6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 10px 0;
}

#content-left .block.block-bordered {
    /*border-left: none;*/
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.block.block-bordered .block-title {
    border-bottom: 1px solid #d6e0e6;
    margin: 0;
    padding: 6px 10px;
    font-family: inherit;
    color: #555;
    font-weight: bold;
    line-height: 17px !important;
    line-height: 17px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #eff3f7;
    background-image: -moz-linear-gradient(top,#f9fafc,#e1e9f0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9fafc),to(#e1e9f0));
    background-image: -webkit-linear-gradient(top,#f9fafc,#e1e9f0);
    background-image: -o-linear-gradient(top,#f9fafc,#e1e9f0);
    background-image: linear-gradient(to bottom,#f9fafc,#e1e9f0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9fafc',endColorstr='#ffe1e9f0',GradientType=0);
}

#content-left .block.block-bordered .block-body {
    -webkit-border-radius: 0 0 2px 0;
    -moz-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.block.block-bordered .listbox {
    padding: 10px;
}

.block.block-bordered ul {
    margin: 0;
}

.block-category-navigation ul, .block-account-navigation ul {
    line-height: 18px;
    font-size: 13px;
    margin: 0 0 0 0.4em;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.block.block-bordered li {
    list-style: none;
}

.nav-category>ul>li, .block-account-navigation .listbox>ul>li {
    border-bottom: 1px solid #ddd;
    padding: .3em 0;
}

.block.block-bordered a {
    text-decoration: none;
    color: #888;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

li {
    line-height: 20px;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.books-pane{
    margin: 10px;
}

.book-item {
    border: 1px solid #d6e0e6;
    border-radius: 0 0 2px 0;
    margin: 10px 0;
}

.book-item-title{
    margin: 10px;
    /*font-size: 11px;*/
}

.book-item-price{
    color: Green;
    font-size: 1.3em; 
    text-align: center; 
}

.book-item-img-box{
    padding:10px 0;
}

.col-md-3 {
    width: 20%;
}