@model IEnumerable<BookFullModel>

<div class="row">
    @foreach (var item in Model)
    {
        <text>
            <div class="col-xs-2" style="height: 260px;">
                <img class="centred" src= "@Url.Action("Image", "Book", new { fileName = item.ImageFile})" alt="Image" width="100"/>
                <p class="bi-author">@item.Author</p>
                <div><p class="centred">@Html.ActionLink(item.Title, "Details", "Book",  new { id = item.BookId }, null)</p></div>
            </div>
        </text>
    }
</div>

