@model IEnumerable<GenreModel>

<p>
    @Html.CreateNew(null)
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    @*<div class="panel-body"></div>*@
    <div class="list-group">
        @foreach (var item in @Model)
        {
            @Html.ActionLink(item.Title, "Index", "Book", new { id = item.GenreId }, new { @class = "list-group-item" })
            if (IsEditAllowed)
            {
                <text>
                @Html.ActionLink("Edit", "Edit", new { id = item.GenreId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.GenreId })
                </text>
            }
        }
    </div>

</div>
