@model IEnumerable<global::eStore.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>

@foreach (var item in @Model)
{
    <li>@Html.ActionLink(item.Title, "Browse", new {title = item.Title})</li>
}
