@model IEnumerable<global::eStore.Domain.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>

@foreach (var item in @Model)
{
    <li>@Html.ActionLink(item.Title, "Browse", new {genreId = item.GenreId})</li>
}
