@model IEnumerable<eStore.Web.UI.ViewModels.GenreModel>

@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>

@foreach (var item in @Model)
{
    <li>@Html.ActionLink(item.Title, "Browse", new {id = item.Id})</li>
}
