@model IEnumerable<GenreModel>

@using eStore.Web.UI.Helpers;

<p>
    @Html.CreateNew(null)
</p>

@foreach (var item in @Model)
{
    <li>
        @Html.ActionLink(item.Title, "Index", "Book", new { id = item.GenreId }, null)

        @if (IsEditAllowed)
        {
            <text>
                @Html.ActionLink("Edit", "Edit", new { id = item.GenreId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GenreId })
            </text>
        }
    </li>
}