@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Database version invalid";
}

<div class="alert alert-danger">
    <h2>Invalid Database version</h2>
    You should update your database.
</div>
