@model HandleErrorInfo

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Error";
}

<div class="alert alert-danger">
    <h2>An error has occurred</h2>
</div>

<h2>Exception details</h2>
<p>
    Controller: @Model.ControllerName <br>
    Action: @Model.ActionName
    Exception: @Model.Exception
</p>