@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    Errorka...
</div>

<h2>Exception details</h2>
<p>
    Controller: @Model.ControllerName <br>
    Action: @Model.ActionName
    Exception: @Model.Exception
</p>