@model eStore.Web.Areas.Admin.ViewModels.GridDataModel

@{
    ViewBag.Title = "Exec";
    WebGrid grid = new WebGrid();
    grid.Bind(Model.Data);
    var Columns = Model.Columns.Select(x => grid.Column(x));
    Columns.ToList()[0].Header = Model.Headers.ToList()[0];
}

<h2>Exec</h2>

@grid.GetHtml(
                fillEmptyRows: true,
                alternatingRowStyle: "alternate-row",
                headerStyle: "grid-header",
                footerStyle: "grid-footer",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
                columns: Columns)
}
