@model eStore.Web.UI.Areas.Admin.ViewModels.GridDataModel

@{
    ViewBag.Title = "Exec";
    WebGrid grid = new WebGrid();
    if (Model.Data != null)
    {
        grid.Bind(Model.Data);
    }
}

<h2>Exec</h2>

@if (Model.Data != null)
{
    @grid.GetHtml(fillEmptyRows: true,
                alternatingRowStyle: "alternate-row",
                headerStyle: "grid-header",
                footerStyle: "grid-footer",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>")
}
else
{
    <text>Result is 0 and no exceptions</text>
}
