@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Best Sellers</h2>
</div>

<div class="row">
    <h2>New books</h2>
</div>

@section featured{
    <h2>EStore!!!</h2>
}

@section sidebar{
    @Html.Action("Catalog", "Genre")
}

@section searchbar{
    @Html.Action("Search", "Home")
}