@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Best Sellers</h2>
    @for (int k = 0; k < 120; k++)
    {
        <div class="col-xs-2">
            <img src="~/Images/logo.png" width="150" height="200" />
            <div><p class="centred">Title</p></div>
            <p>Author</p>
        </div>
    }
</div>

<div class="row">
    <h2>New books</h2>
</div>

@section featured{
    <h2>EStore!!!</h2>
}

@section sidebar{
    @Html.Action("Catalog", "Genre")
}
